* {
  box-sizing: border-box;
}
body {
  font-family: "Comfortaa", sans-serif;
  margin: 0;
  background-color: #f3f6fd;
  font-weight: 400;
}

.app {
  display: flex;
}
.logo {
  margin-bottom: 50px;
}

.panel {
  background: white;
  min-height: 100vh;
  padding: 30px;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.menu__list {
  background: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.menu__item {
  background: #fff;
  box-shadow: 0 8px 14px 0 rgba(62, 107, 224, 0.12);
  border-radius: 14px;
  border: none;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.menu__item:hover {
  background: #6a6afb;
}

.menu__item:hover img {
  filter: brightness(0) invert(1);
}

.menu__item_active:hover {
  background: #5051f9;
}
.menu__item_active: img {
  filter: brightness(0) invert(1);
}

.menu__add {
  background: none;
  border: 1px solid #cad5ff;
  border-radius: 14px;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.menu__add:hover {
  background: #eff2ff;
}

.content {
  min-width: 900px;
  padding: 45px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 400;
  font-size: 30px;
  color: #000;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 235px;
}

.progress__text {
  display: flex;
  justify-content: space-between;
}

.progress__name {
  font-weight: 400;
  font-size: 14px;
  color: #232360;
}

.progress__percent {
  font-weight: 400;
  font-size: 12px;
  color: #768396;
}

.progress__bar {
  width: 100%;
  height: 5px;
  border-radius: 4px;
  position: relative;
  background: #e6e9ed;
}
.progress__cover-bar {
  position: absolute;
  height: 5px;
  border-radius: 4px;
  background: #5051f9;
}
main {
  margin-top: 30px;
}
.habbit {
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.habbit__day {
  background: #fbfaff;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #e7ebfb;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  padding: 20px 40px;
  min-width: 150px;
}
.habbit__comment {
  font-size: 14px;
  line-height: 18px;
  padding: 20px 25px;
}
.habbit__delete {
  margin-left: auto;
  margin-right: 10px;
  background: none;
  background-color: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
}

.habbit__delete:hover {
  background: #eff2ff;
}

input {
  font-family: "Comfortaa", sans-serif;
  border: 1px solid #e7ebfb;
  border-radius: 9px;
  background: #fff;
  padding: 12px 20px;
  flex: 1;
  font-weight: 400;
  font-size: 14px;
}

input:placeholder {
  color: #8899a8;
}

.habbit__form {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 0px 10px 0 25px;
  position: relative;
}

.input_icon {
  padding-left: 45px;
}

.input__icon {
  position: absolute;
  top: 10px;
  left: 45px;
}

.button__ready {
  border-radius: 9px;
  background: #edecfe;
  border: none;
  font-weight: 500;
  font-size: 13px;
  color: #5051f9;
  padding: 14px 30px;
  cursor: pointer;
}

.button__ready:hover {
  background: #dcdaffff;
}
